<%= render 'shared/navbar' %>

<div class="cards small-section">
    <div class="container">
        <div class="row">
            <div class="one-card column">
                <div class="card">
                    <div id="conversations">
                      <%= render @conversations %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
