<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've received a new message from <%= @author.name %></h1>
    <p><%= @personal_message.body %></p>
    <%= link_to "Reply", conversation_url(@conversation) %>
  </body>
</html>
