<div class="three-cards columns">
    <div class="card">
        <div class="content">
            <h3 class="clamped-text one-line">
                <%= link_to Project.find_by_id(role.project_id).title, project_path(Project.find_by_id(role.project_id).id), class: "animated-underline"%>
            </h3>
            <div class="divider"></div>
            <p class="clamped-text four-lines">
                <%= Project.find_by_id(role.project_id).description %>
            </p>
            <%= link_to "View Project", project_path(Project.find_by_id(role.project_id).id), class: "button-secondary"%>
        </div>
    </div>
</div>
