<div class="section cards">
    <div class="container">
        <div class="row">
            <div class="two-cards columns">
                <%= render 'userProfileCard' %>
            </div>
            <div class="two-cards columns">
                <% @user.roles.each do |role| %>
                    <%= render 'projectCard', role: role %>
                <% end %>
            </div>
        </div>
    </div>
</div>
