<%= render 'shared/navbar' %>

<div class="section cards">
    <div class="container">
        <div class="row">
            <%= render 'userProfileCard' %>
        </div>

        <div class="row">
            <% @user.roles.each do |role| %>
                <%= render 'projectCard', role: role %>
            <% end %>
        </div>

    </div>
</div>
