<%= render 'shared/navbar' %>

<div class="section cards">
    <div class="container">
        <h1 class="centered-text">
            Help grow Project 501 by contacting non-profit organizations and inviting them to join the platform.
        </h1>
        <div class="row">
            <% @organizations.each do |name, description, url| %>
                <div class="two-cards columns">
                    <div class="card dark">
                      <div class="content">
                        <h3 class="clamped-text one-line">
                          <%= link_to name, url, target: "_blank" %>
                        </h3>
                        <div class="divider"></div>
                        <p class="clamped-text four-lines">
                          <%= description %>
                        </p>
                        <%= link_to "Visit Website", url, target: "_blank", class: "button-secondary" %>
                      </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
