<div class="row">
  <div class="eight columns">
    <%= render 'projectDetails' %>
  </div>

  <div class="three-cards columns">
    <div class="card">
      <div class="content">
        <h3>
          Review Candidates
        </h3>
        <div class="divider"></div>
        <% if @project.applications.count == 0 %>
          <p>
            No volunteers have contacted you about this project yet.
          </p>
        <% else %>
          <% @project.applications.each do |application| %>
            <p>
              <%= User.find_by_id(application.user_id).name %> (<%= link_to "view conversation", Conversation.where(project_id: @project, author_id: User.find_by_id(application.user_id)).first %>)
            </p>
          <% end %>
        <% end %>
        <div class="divider"></div>
        <p>
          Need to make some changes to the project description?
        </p>
        <%= link_to "Edit Project", edit_project_path(@project), class: "button-secondary"%>
      </div>
    </div>
  </div>
</div>
