<div class="row">
  <div class="eight columns">
    <%= render 'projectDetails' %>
  </div>


  <div class="three-cards columns">
    <div class="card">
      <div class="content">
        <p>
          You've been selected for this project.
        </p>
      </div>
    </div>
  </div>
</div>
