<div class="section cards">
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-two">
        <h1>
          Design and build tech for the public good.
        </h1>
        <div class="card dark">
          <div class="content">
            <p>
              There are thousands of non-profit organizations out there that are working to protect the environment, defend civil rights, and support underserved communities.
            </p>
            <p>
              These organizations need our help.
            </p>
            <p>
              As designers, developers, videographers, and marketers, we know how to craft delightful experiences, build intelligent systems, and capture an audience with a powerful message. We apply these skills everyday at work -- now it's time to volunteer them.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="eight columns offset-by-two">
        <div class="spacer"></div>
        <div class="spacer"></div>
        <h2 class="centered-text">
          Current opportunities to volunteer your expertise:
        </h2>
        <div class="spacer"></div>
        <% @projects.each do |project| %>
          <% unless project.id == 1 || project.active == false || project.organization.approved == false %>
              <div class="card">
                <div class="content">
                  <h3 class="clamped-text one-line">
                    <%= link_to project.title, project %>
                  </h3>
                  <div class="divider"></div>
                  <p class="clamped-text four-lines">
                    <%= project.description %>
                  </p>
                  <p>
                    Team Needs: <%= project.required_roles %>
                  </p>
                  <%= link_to "View Project", project, class: "button-secondary" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
