@import 'colors.css.scss';

.cards {

  h1 {
    margin: auto;
    margin-bottom: 6rem;
    max-width: 90rem;
    text-align: center;
  }

}

.homepage-h2 {
  @media (min-width: 550px) {
    text-align: center;
  }
}

.section--dark {
  background: $blue-100;

  h2 {
    color: $white;
  }
}

.section-divider {
  @media (min-width: 550px) {
    margin: auto;
  }
}

.home-past-projects {
  margin-top: 10rem;
}

.how-it-works-section {
  margin-top: 6rem;
  display: inline-block;
}

@media (min-width: 780px) {
  .how-it-works-section {
    align-items: center;
    display: flex;
    margin-top: 20rem;

    &:first-of-type {
      margin-top: 10rem;
    }
  }
}

.community {
  padding-top: 2rem;

  .marketing-avatar {
    border-radius: 50%;
    display: block;
    width: 55%;
    border: 4px solid #bdd6dd
  }

  .volunteer {
    margin-top: 4rem;
    display: inline-block;
    width: 45%;
    @media (min-width: 780px) {
      width: 33%;
    }
    @media (min-width: 960px) {
      width: 16.4%;
    }

    h3 {
      margin-top: 1em;
    }
    p {
      margin: 0;
    }
  }
}

.marketing-footer {
  margin: 2rem 0;

  .right {
    float: right;

    h3 {
      margin-right: 3rem;
    }
  }
}
