@import 'colors.css.scss';

.cards {

  h1 {
    margin: auto;
    margin-bottom: 6rem;
    max-width: 90rem;
    text-align: center;
  }

}

.home-past-projects {
  margin-top: 10rem;
}

.how-it-works-section {
  margin-top: 6rem;
  display: inline-block;
}

.how-it-works-image {
  display: none;
}

@media (min-width: 780px) {
  .how-it-works-section {
    align-items: center;
    display: flex;
    margin-top: 20rem;

    &:first-of-type {
      margin-top: 10rem;
    }
  }

  .how-it-works-image {
    display: block;
  }
}


