<%= render(partial: 'shared/navbar')%>

<div class="small-section cards">
  <div class="container">
    <div class="row">
      <div class="six offset-by-three columns">
        <h3>
          Edit Organization Profile
        </h3>
        <div class="divider"></div>
        <p class="dark-paragraph">
          A full description of your organization will increase chances that experts apply to work on your projects.
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>
