<%= render 'shared/navbar' %>

<div class="section cards">
  <div class="container">
    <div class="row">
      <% @organizations.each do |organization| %>
        <% if organization.approved? %>
          <div class="two-cards columns">
            <div class="card dark">
              <div class="content">
                <h3 class="clamped-text one-line">
                  <%= link_to organization.name, organization %>
                </h3>
                <div class="divider"></div>
                <p class="clamped-text four-lines">
                  <%= organization.description %>
                </p>
                <p class="dark-paragraph clamped-text one-line no-bottom-margin">
                  <%= organization.cause %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
