<!DOCTYPE html>
<html>
<head>
  <title>Project501</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Mobile Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Typography -->
  <script src="https://use.typekit.net/nyl6rxg.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

</head>
<body>

<%= yield %>

</body>
</html>
