<!DOCTYPE html>
<html>
<head>
  <title>Project501</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Mobile Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Typography -->
  <script src="https://use.typekit.net/nyl6rxg.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

</head>
<body>

<!-- check to see if the current user is affiliated with an approved organization -->
<% if current_user && current_user.memberships.count > 0 %>
  <% current_user.memberships.each do |membership| %>
    <% if Organization.find_by_id(membership.organization_id).approved == true %>
        This user is affiliated with an organization that has been approved
    <% end %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
